// nav + hamburger

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: $jaune-main;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 60px;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: $mauve-main;
  display: block;
  transition: 0.2s;

  font-family: $ff-title;
  font-weight: $fw-bold;
  font-size: $fz-nav;
  line-height: 105.47%;
}

.sidenav a:hover {
  color: $mauve-pale;
}

.sidenav a:nth-child(2), a:nth-child(3), a:nth-child(4), a:nth-child(5) {
  margin-left: 190px;
}

.sidenav .closeMenu {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 60px;
  margin-left: 50px;
}


// navbar

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 35px;
  margin: 0;

  width: 100vw;
  height: 75px;
  border-bottom: $mauve-pale 1px solid;

  overflow: hidden;

  position: fixed;
  left: 0;
  top: 0;

  z-index: 50;
  background: $mauve-main;
}

.navbar a {
  color: $color-text-normal;
  font-size: 1.375rem;
  text-decoration: none;
}

.navbar a:hover {
  color: $jaune-main;
  transform: scale(1.01);
  text-decoration: none;
}

.navbar span {
  color: $jaune-main;
}

@media screen and (max-width: $vw-tablette) {

}

@media screen and (max-width: $vw-mobile) {
  .sidenav {
    height: 100%;
    width: 0;

    display: grid;
    grid-template-rows: 200px 200px 200px 200px;
  }
  .sidenav a:nth-child(2), a:nth-child(3), a:nth-child(4), a:nth-child(5) {
    margin-left: 20px;
  }
  .sidenav a {
    font-size: $fz-h1;
    line-height: 30%;
  }
  .sidenav .closeMenu {
    position: absolute;
    top: 25px;
    left: 70vw;
    font-size: 60px;
    margin-left: 50px;
  }
}
















