// page pour un projet //

//  section intro //
.intro-projet{
  display: grid;
  grid-template-columns: 100px 1fr 1fr 100px;
  height: 100vh;


  .image-projet{
    width: 740px;
    height: auto;
    align-self: center;

    grid-column-start: 2;
    grid-column-end: 3;
  }
  .texte-projet{
    grid-column-start: 3;
    grid-column-end: 4;

    align-self: center;
  }
  .logiciels-competences-projet{
    display: grid;
    grid-template-columns: 1fr 240px 1fr;
    h2{
      color: $jaune-main;
    }
  }
  .logiciels-competences-projet img{
    width: 75px;
    height: auto;
    margin: 0 10px 0 0;
  }
  .un-logiciel{
    grid-column-start: 1;
    grid-column-end: 2;
    color: $jaune-main;
  }
  .flex-logiciels{
    display: flex;
    flex-direction: row;

  }
  .une-competence{
    grid-column-start: 4;
    grid-column-end: 5;
    color: $jaune-main;
  }
  .flex-competences{
    display: flex;
    flex-direction: row;
    align-items: center;

  }
  .titre-logo-projet{
    text-align: center;
    margin: 0 10px 0 0;
  }
}

// sections projet //
.projet-section{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  img{
    width: 70%;
  }
}

// sections demo projet //
.single-demo-video{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}
.single-demo-video h1{
  justify-content: center;
}
.single-demo-video iframe{
  justify-content: center;
  width: 70%;
  height: 70%;

  margin: 0;
  padding: 0;
}
.citrouille-demo-video{
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  margin: 0 0 5% 0;
}
.citrouille-demo-video video{
  justify-content: center;
  height: 50%;
  width: 50%;
}


// section figma //
.figma-verum{
  display: flex;
  justify-content: center;
  height: 100vh;
}
.figma-verum iframe {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 1600px;
  height: 900px;
}


//  section projet-section-slider //
.projet-section-slider{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  height: 100vh;
}
.projet-slider{
  width: 80%;
  height: 100%;
  display: flex;

  overflow-scrolling: touch;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}
.slide-projet{
  width: 100%;
  flex-shrink: 0;
  height: 100%;

}
.projet-slider > div{
  scroll-snap-align: start;
}


@media screen and (max-width: $vw-tablette){

}

@media screen and (max-width: $vw-mobile){
  .intro-projet{
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    height: 100vh;


    .image-projet{
      width: 70%;
      justify-self: center;

      grid-column-start: 2;
      grid-column-end: 3;
    }
    .texte-projet{
      grid-column-start: 2;
      grid-column-end: 3;
      width: 100vw;
      justify-self: center;
    }
    .logiciels-competences-projet{
      display: grid;
      grid-template-columns: 1fr 50px 1fr;

    }
    .logiciels-competences-projet img{
      width: 75px;
      height: auto;
      margin: 0 10px 0 0;
    }
    .un-logiciel{
      grid-column-start: 1;
      grid-column-end: 2;
    }
    .flex-logiciels{
      display: flex;
      flex-direction: row;
      align-items: center;

    }
    .une-competence{
      grid-column-start: 4;
      grid-column-end: 5;
    }
    .flex-competences{
      display: flex;
      flex-direction: row;
      align-items: center;

    }
    .titre-logo-projet{
      text-align: center;
    }
  }

  .projet-section{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    img{
      width: 80%;
    }
  }
}



