
.bulle{
  height: 450px;
  width: 450px;
  border-radius: 255px;
  background: $jaune-main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.projets{
  display: grid;
  grid-auto-columns: auto;
  align-items: center;
}
.bulle button{
  background: $mauve-main;
  color: $jaune-main;
}

.projets img{
  width: 1350px;
  height: 900px;
}
.projet-1{
  display: flex;
  justify-content: right;
}