/* section-contact */
.contact{
  height: 75vh;
}
.grid-contact{
  display: grid;
  grid-template-columns: 15% 35% 35% 15%;
  width: 100vw;
}
.info-contact{
  width: 100vw;
  grid-column-start: 2;
  grid-column-end: 3;
}
.info-contact > *{
  margin: 80px 0 0 0;
}
.cv-btn{
margin: 15% 0 0 0;
}

/* Icon-Contact */
.sociaux{
  width: 430px;
  display: flex;
  justify-content: flex-start;
}
.sociaux a{
  margin: 0 100px 0 0;

  color: $jaune-main;
}
.sociaux a:hover{
  color: $jaune-pale;
}
.sociaux a:active{
  position: relative;
  top: 2px;
  color: $jaune-main;
}

.fab{
  font-size: 4.688rem;
}

/* formulaire */

.formulaire-contact form{
  display: flex;
  flex-direction: column;
  margin: 100px 0 0 0;
}
.formulaire-contact form > label,textarea{
  margin: 50px 0 0 0;
  border-radius: 0;
}

.formulaire-contact form > input,textarea{
  background: none;
}
.formulaire-contact form input{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: $jaune-main 1px solid;
  border-radius: 0;
}


@media screen and (max-width: $vw-tablette){

}

@media screen and (max-width: $vw-mobile) {
  .contact{
    height: 100%;
  }
  .grid-contact{
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 1fr 1fr;
  }
  .info-contact{
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 2;
    width: 100vw;
  }
  .formulaire-contact{
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
  }
  .info-contact > *{
    justify-self: center;
  }
  .info-contact h2{
    font-size: $fz-normal3;
  }
  .sociaux{
    width: 300px;
    display: flex;
    justify-content: flex-start;
  }
  .sociaux a {
    margin: 0 10px;
  }
  .formulaire-contact img{
    display: flex;
    justify-content: center;
  }
}
