/* ------------ intérêts ------------ */
.interets {
  height: 90vh;
  width: 100vw;
  padding: 10px 0 0 10px;
  background: $jaune-main;
  color: #000;
  font-size: $fz-normal3;

  h1 {
    color: $mauve-main;
  }
}

.interet-grid {
  display: grid;
  grid-template-columns: 100px 865px auto 560px 100px;
  grid-template-rows: 1fr;
  gap: 0 0;
}

.texte-interet {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;

  p {
    height: 125px;
    width: 825px;
    margin: 15% 0 0 0;
  }
}

.imgs-interets {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 15% 0 0 0;

}

.img-interets-1 {
  height: 199px;
  width: 199px;
  margin: 20px;
  background: url("../../images/escalade.png") no-repeat;
}

.img-interets-2 {
  height: 199px;
  width: 199px;
  margin: 20px;
  background: url("../../images/film.png") no-repeat;
}

.img-interets-3 {
  height: 199px;
  width: 199px;
  margin: 20px;
  background: url("../../images/musique.png") no-repeat;
}

.img-interets-4 {
  height: 199px;
  width: 199px;
  margin: 20px;
  background: url("../../images/jeux-videos.png") no-repeat;
}

@media screen and (max-width: $vw-tablette) {
  .interets h1 {
    margin: 20px 0;
    font-size: $fz-h2;
  }
  .texte-interet {
    font-size: $fz-normal;
  }

  .interet-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    gap: 0 0;
  }
  .texte-interet {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;


    p {
      margin: 0;
      width: 500px;
      height: 185px;
    }
  }

  .imgs-interets {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;

    justify-self: center;
    margin: 0;
  }
}

@media screen and (max-width: $vw-mobile) {
  .interets h1 {
    margin: 20px 0;
    font-size: $fz-h2;
  }
  .texte-interet {
    font-size: $fz-normal;
  }

  .interet-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    gap: 0 0;
  }
  .texte-interet {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;


    p {
      margin: 0;
      width: 350px;
      height: 185px;
    }
  }

  .imgs-interets {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;

    justify-self: center;
    margin: 0;
  }

  .img-interets-1 {
    height: 127px;
    width: 127px;
    margin: 20px;
    background: url("../../images/escalade-mobile.png") no-repeat;
  }
  .img-interets-2 {
    height: 127px;
    width: 127px;
    margin: 20px;
    background: url("../../images/film-mobile.png") no-repeat;
  }
  .img-interets-3 {
    height: 127px;
    width: 127px;
    margin: 20px;
    background: url("../../images/musique-mobile.png") no-repeat;
  }
  .img-interets-4 {
    height: 127px;
    width: 127px;
    margin: 20px;
    background: url("../../images/jeux-videos-mobile.png") no-repeat;
  }
}