


//FONCTION POUR CONVERTIR LA TYPOGRAPHIE AVEC LES UNITÉS PX EN UNITÉS REM

@function rem($fz){
  @return ($fz / 16) + rem;
}

#scroll_to_top {
  position: fixed;
  width: 25px;
  height: 25px;
  bottom: 50px;
  right: 30px;
}
#scroll_to_top img {
  width: 25px;
}
html {
  scroll-behavior: smooth;
}